.SmartHealth {
  margin:  0px;
  padding: 10px;
}

.SmartHealth p {
  font-size: 16px;
  margin:    0px;
  padding:   0px;
}

.SmartHealth .idSearchInput {
  font-size:  16px;
  margin-top: 10px;
  padding:    2px 5px;
}

.patientInfo {
  margin-top: 10px;
}

table {
  border:       1px solid black;
  margin-top:   10px;
}

table th {
  text-align: left;
}

table .narrowCell {
  padding-left: 5px;
  width:        10%;
}